[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=GitBook Editor
Comment=Write and publish books
Exec=/opt/gitbook-editor/editor
Icon=/opt/gitbook-editor/icon.png
Terminal=false
Categories=Application;
