[Desktop Entry]
Name[af]=Netwerk
Name[an]=Ret
Name[ar]=الشبكة
Name[as]=নেটৱৰ্ক
Name[ast]=Rede
Name[be]=Сетка
Name[bg]=Мрежа
Name[bn]=নেটওয়ার্ক
Name[bn_IN]=নেটওয়ার্ক
Name[bs]=Mreža
Name[ca]=Xarxa
Name[ca@valencia]=Xarxa
Name[crh]=Şebeke
Name[cs]=Síť
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[en_GB]=Network
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fi]=Verkko
Name[fr]=Réseau
Name[fur]=Rêt
Name[ga]=Líonra
Name[gd]=Lìonra
Name[gl]=Rede
Name[gu]=નેટવર્ક
Name[he]=רשת
Name[hi]=नेटवर्क
Name[hr]=Mreža
Name[hu]=Hálózat
Name[id]=Jaringan
Name[is]=Netkerfi
Name[it]=Rete
Name[ja]=ネットワーク
Name[kk]=Желі
Name[km]=បណ្ដាញ
Name[kn]=ಜಾಲಬಂಧ
Name[ko]=네트워크
Name[ky]=Тармак
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mk]=Мрежа
Name[ml]=ശൃംഖല
Name[mr]=नेटवर्क
Name[nb]=Nettverk
Name[ne]=सञ्जाल
Name[nl]=Netwerk
Name[oc]=Ret
Name[or]=ନେଟୱର୍କ
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Rețea
Name[ru]=Сеть
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sr]=Мрежа
Name[sr@latin]=Mreža
Name[sv]=Nätverk
Name[ta]=பிணையம்
Name[te]=నెట్‌వర్క్
Name[tg]=Шабака
Name[th]=เครือข่าย
Name[tr]=Ağ
Name[ug]=تور
Name[uk]=Мережа
Name[vi]=Mạng
Name[zh_CN]=网络
Name[zh_HK]=網絡
Name[zh_TW]=網路
Name=Network
Comment[af]=Bepaal hoe om te koppel aan die internet
Comment[an]=Controlar cómo se connecta ta Internet
Comment[ar]=تحكم في اتصالك بالإنترنت
Comment[as]=ইন্টাৰনেটৰ সৈতে কেনেকৈ সংযোগ কৰিব নিয়ন্ত্ৰণ কৰক
Comment[be]=Настройка злучэння з сецівам
Comment[bg]=Настройки на връзката към Интернет
Comment[bn_IN]=ইন্টারনেটের সংগে অাপনার সংযোগের ধরন নিয়ন্ত্রণ করুন
Comment[bs]=Kontroliši povezivanje na Internet
Comment[ca]=Controleu com us connecteu a Internet
Comment[ca@valencia]=Controleu com vos connecteu a Internet
Comment[crh]=İnternet'ke nasıl bağlanğanıñıznı muraqabe etiñiz
Comment[cs]=Určit, jak se připojujete k Internetu
Comment[da]=Angiv hvordan du forbinder til internettet
Comment[de]=Legt fest, wie mit dem Internet verbunden wird
Comment[el]=Ελέξτε τον τρόπο σύνδεσης με το διαδίκτυο
Comment[en_GB]=Control how you connect to the Internet
Comment[eo]=Regi kiel vi konektas al la interreto
Comment[es]=Controlar cómo se conecta a Internet
Comment[et]=Internetiga ühendumise viisi muutmine
Comment[eu]=Kontrolatu nola konektatzen zaren Internetera
Comment[fa]=کنترل شیوهٔ اتّصال به اینترنت
Comment[fi]=Hallitse internetyhteyden asetuksia
Comment[fr]=Contrôler votre façon de vous connecter à Internet
Comment[fur]=Controle ce mût conetiti a Internet
Comment[gd]=Stiùirich an dòigh a cheanglas tu ris an eadar-lìon
Comment[gl]=Controle como se conecta a Internet
Comment[gu]=તમે કેવી રીતે ઇન્ટરનેટ સાથે જોડાવે તેને નિયંત્રિત કરો
Comment[he]=שליטה באופן החיבור לאינטרנט
Comment[hi]=नियंत्रित करें कैसे आप इंटरनेट से कनेक्ट होते हैं
Comment[hr]=Upravljajte načinom povezivanja na Internet
Comment[hu]=Internetkapcsolatok beállítása
Comment[id]=Kendalikan bagaimana Anda menyambung ke Internet
Comment[is]=Stjórnaðu hvernig þú tengist internetinu
Comment[it]=Regola la connessione a Internet
Comment[ja]=ネットワークへの接続方法を設定します。
Comment[kk]=Интернетке қалай байланысатыныңызды басқару
Comment[kn]=ಅಂತರಜಾಲದೊಂದಿಗೆ ನೀವು ಹೇಗೆ ಸಂಪರ್ಕಗೊಳ್ಳುತ್ತೀರಿ ಎನ್ನುವುದನ್ನು ನಿಯಂತ್ರಿಸಿ
Comment[ko]=어떻게 인터넷에 연결할지 정합니다
Comment[lt]=Valdykite, kaip jungiatės prie interneto
Comment[lv]=Noteikt, kā savienoties ar internetu
Comment[ml]=ഇന്റെര്‍നെറ്റില്‍ ബന്ധിപ്പിക്കുന്നതെങ്ങനെയെന്ന് തീരുമാനിക്കുന്നു
Comment[mr]=इंटरनेटशी कशी जोडणी करायची ते नियंत्रीत करा
Comment[nb]=Kontroller hvordan du kobler til internett
Comment[ne]=कसरी तपाईं इन्टरनेट जडान गर्ने बारे नियन्त्रण गर्नुहोस
Comment[nl]=Regelen hoe u verbinding maakt met het internet
Comment[oc]=Controlar vòstre biais de vos connectar a Internet
Comment[or]=ଇଣ୍ଟରନେଟ ସହିତ କିପରି ସଂଯୁକ୍ତ କରିବେ ତାହା ନିୟନ୍ତ୍ରଣ କରନ୍ତୁ
Comment[pa]=ਕੰਟਰੋਲ ਕਰੋ ਕਿ ਇੰਟਰਨੈੱਟ ਨਾਲ ਤੁਸੀਂ ਕਿਵੇਂ ਕਨੈਕਟ ਹੋ
Comment[pl]=Sterowanie sposobem łączenia z Internetem
Comment[pt]=Controlar como se liga à Internet
Comment[pt_BR]=Controle como você conecta à Internet
Comment[ro]=Controlați modul în care vă conectați la Internet
Comment[ru]=Управление подключением к Интернету
Comment[sk]=Ovláda spôsob pripojenia k internetu
Comment[sl]=Nadzor nad načini povezovanja v internet
Comment[sr]=Управљајте вашим повезивањем на Интернет
Comment[sr@latin]=Upravljajte vašim povezivanjem na Internet
Comment[sv]=Kontrollera hur du ansluter till internet
Comment[ta]=நீங்கள் எப்படி இணையத்துடன் இணைகிறீர்கள் என்பதைக் கட்டுப்படுத்துங்கள்
Comment[te]=మీరు యింటర్నెట్‌కు యెలా అనుసంధానం కావాలో నియంత్రించు
Comment[tg]=Идора кунед, ки шумо чӣ тавр ба Интернет пайваст мешавед
Comment[th]=ควบคุมวิธีการเชื่อมต่อกับอินเทอร์เน็ตของคุณ
Comment[tr]=İnternete nasıl bağlandığınızı denetleyin
Comment[uk]=Вказати яким способом з'єднуватись з інтернетом
Comment[vi]=Điều khiển cách kết nối Internet
Comment[zh_CN]=控制连接到互联网的方式
Comment[zh_HK]=控制你如何連線至網際網絡
Comment[zh_TW]=控制您如何連線至網際網絡
Comment=Control how you connect to the Internet
Exec=gnome-control-center network
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ar]=network-workgroup
Icon[be]=network-workgroup
Icon[ca]=network-workgroup
Icon[cs]=network-workgroup
Icon[da]=network-workgroup
Icon[de]=network-workgroup
Icon[el]=network-workgroup
Icon[en_GB]=network-workgroup
Icon[es]=network-workgroup
Icon[fi]=network-workgroup
Icon[fr]=network-workgroup
Icon[fur]=network-workgroup
Icon[gd]=network-workgroup
Icon[gl]=network-workgroup
Icon[hr]=network-workgroup
Icon[hu]=network-workgroup
Icon[id]=network-workgroup
Icon[it]=network-workgroup
Icon[kk]=network-workgroup
Icon[ko]=network-workgroup
Icon[lt]=network-workgroup
Icon[lv]=network-workgroup
Icon[nl]=network-workgroup
Icon[oc]=network-workgroup
Icon[pa]=network-workgroup
Icon[pl]=network-workgroup
Icon[pt_BR]=network-workgroup
Icon[ro]=network-workgroup
Icon[ru]=network-workgroup
Icon[sk]=network-workgroup
Icon[sl]=network-workgroup
Icon[sr]=network-workgroup
Icon[sr@latin]=network-workgroup
Icon[sv]=network-workgroup
Icon[tr]=network-workgroup
Icon[vi]=network-workgroup
Icon[zh_TW]=network-workgroup
Icon=network-workgroup
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=network
X-GNOME-Bugzilla-Version=3.30.1
# Translators: Search terms to find the Network panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=شبكة;لاسلكي;واي فاي;بلوتوث;محمول;وسيط;شبكة محلية;مودم;
Keywords[be]=Сетка;Бесправадная сетка;Wi-Fi;Wifi;IP;LAN;Проксі;WAN;Шырокапалосны доступ;Мадэм;Bluetooth;vpn;DNS;
Keywords[bg]=мрежа;безжична;адрес;порт;локален;локална;широколентов;модем;виртуален;виртуална;частна;връзка;име;имена;шлюз;маршрутизатор;рутър;network;wireless;wi-fi;wifi;ip;lan;proxy;wan;broadband;modem;bluetooth;vpn;vlan;bridge;bond;dns;
Keywords[ca]=Xarxa;Sense fil;Wi-Fi;Wifi;IP;LAN;Servidor intermediari;WAN;Banda ampla;Mòdem;Bluetooth;vpn;DNS;
Keywords[ca@valencia]=Xarxa;Sense fil;Wi-Fi;Wifi;IP;LAN;Servidor intermediari;WAN;Banda ampla;Mòdem;Bluetooth;vpn;DNS;
Keywords[cs]=síť;bezdrátové;bezdrátová;Wi-Fi;WiFi;drátové;drátová;IP;LAN;proxy;WAN;širokopásmové;připojení;modem;Bluetooth;vpn;dns;
Keywords[da]=Netværk;Trådløs;Wi-fi;Wifi;IP;LAN;Proxy:WAN;Bredbånd;Modem;Bluetooth;vpn;DNS;
Keywords[de]=Netzwerk;Drahtlos;LAN;WLAN;Wifi;IP;LAN;Proxy;WAN;Breitband;DSL;Modem;Bluetooth;VPN;Brücke;VLAN;Bündelung;DNS;
Keywords[el]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;δίκτυο;ασύρματο;διαμεσολαβητής;ευρυζωνικό;
Keywords[en_GB]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
Keywords[es]=Red;Inalámbrica;Wireless;Wi-Fi;Wifi;IP;Proxy;WAN;LAN;Banda;ancha;Módem;Bluetooth;vpn;DNS;
Keywords[eu]=Sarea;Haririk gabea;Wi-Fi;Wifi;IP;IPa;Sare lokala;LAN;Proxy-a;Area Zabaleko Sarea;WAN;hedapena;igorpena;Modema;Bluetooth;vpn;DNS;Domeinuen izen-zerbitzaria;
Keywords[fa]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;شبکه;بیسیم;وای فای;آی پی;لن;پروکسی;ون;پهن‌باند;مودم;بلوتوث;وی پی ان;دی ان اس;
Keywords[fi]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;vlan;bridge;bond;DNS;verkko;langaton;lähiverkko;välityspalvelin;laajakaista;modeemi;nimipalvelut;
Keywords[fr]=Réseau;Sans fil;Wi-Fi;Wifi;IP;LAN;Mandataire;WAN;Large bande;Modem;Bluetooth;vpn;DNS;
Keywords[fur]=Rêt;Network;Wireless;Cence fîl;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
Keywords[gd]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;lìonra,uèirleas,progsaidh;bann-leathann;drochaid;
Keywords[gl]=Rede;Sen fíos;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Banda larga;Modem;Bluetooth;vpn;DNS;
Keywords[he]=רשת;אלחוטי;אלחוטית;וייפיי;IP;רשת מקומית;מתווך;פרוקסי;אינטרנט;רשת רחבה;רוחב פס;מודם;בלוטות׳;DNS;vpn;
Keywords[hr]=Mreža;Bežično;IP;Žično;Proxy;WAN;Širokopojasni internet;Modem;Bluetooth;vpn;vlan;most;povezano;DNS;
Keywords[hu]=Hálózat;Vezeték nélküli;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Széles sáv;Szélessáv;Modem;Bluetooth;vpn;DNS;
Keywords[id]=Jaringan;Nirkabel;Wi-Fi;Wifi;IP;LAN;Proksi;WAN;Broadband;Modem;Bluetooth;vpn;vlan;bridge;bond;DNS;
Keywords[is]=Netkerfi;þráðlaust;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;breiðband;internet;mótald;Bluetooth;vpn;vlan;bridge;bond;DNS;
Keywords[it]=rete;network;wireless;wi-fi;wifi;IP;LAN;proxy;WAN;broadband;modem;bluetooth;vpn;DNS;
Keywords[ja]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;ネットワーク;インターネット;無線;ワイヤレス;有線;プロキシー;プロキシ;ブロードバンド;モデム;ブルートゥース;VPN;ドメイン名;ドメインネームサーバー;
Keywords[kk]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;Желі;Сымсыз;Прокси;Кеңжолақты;Модем;
Keywords[ko]=Network;네트워크;Wireless;무선;Wi-Fi;Wifi;와이파이;IP;LAN;랜;Proxy;프록시;WAN;인터넷;Broadband;브로드밴드;Modem;모뎀;Bluetooth;블루투스;vpn;가상사설망;;DNS;네임서버;
Keywords[lt]=Tinklas;Belaidis;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Plačiajuostis;Modemas;Bluetooth;vpn;DNS;
Keywords[lv]=Tīkls;Bezvadu;Wi-Fi;Wifi;IP;LAN;Starpnieks;WAN;Platjosla;Modems;Bluetooth;vpn;DNS;
Keywords[ml]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
Keywords[nb]=Nettverk;Trådløst;Wi-Fi;Wifi;IP;LAN;Mellomtjener;WAN;Bredbånd;Modem;Blåtann;vpn;DNS;
Keywords[nl]=Network;Netwerk;Wireless;Draadloos;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Breedband;Modem;Bluetooth;vpn;DNS;
Keywords[oc]=Ret;Sens fial;Wi-Fi;Wifi;IP;LAN;Mandatari;WAN;Larga benda;Modèm;Bluetooth;vpn;DNS;
Keywords[pa]=ਨੈੱਟਵਰਕ;ਬੇਤਾਰ;ਵਾਈ-ਫਾਈ;ਆਈਪੀ;ਬਰਾਡਬੈਂਡ;ਮਾਡਮ;ਬਲੂਟੁੱਥ;ਬਲੂਟੁੱਥ;ਵੀਪੀਐਨ;ਪਰਾਕਸੀ;ਵੈਨ;ਮੌਡਮ;ਡੀਐਨਐਸ;ਵਾਈਰਲੈੱਸ;
Keywords[pl]=Sieć;Sieci;Bezprzewodowa;Wireless;Wi-Fi;Wifi;IP;LAN;Kabel;Pośrednik;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
Keywords[pt]=Rede;Wireless;Sem-fios;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Banda;larga;Modem;Bluetooth;vpn;vlan;bridge;bond;DNS;
Keywords[pt_BR]=Rede;Network;Sem fio;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Banda larga;Modem;Bluetooth;vpn;DNS;
Keywords[ro]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;Rețea;
Keywords[ru]=Сеть;Беспроводная;Wi-Fi;Wifi;IP;LAN;Прокси;WAN;Мобильная;Модем;Bluetooth;vpn;DNS;
Keywords[sk]=Sieť;Bezdrôtová;Wi-Fi;Wifi;IP;Proxy;sprostredkovateľ;LAN;WAN;Modem;Bluetooth;Broadband;Mobil;Širokopásmové;vpn;DNS;
Keywords[sl]=omrežje;brezžično;Wi-Fi;Wifi;IP;LAN;Proxy;Posredniški;širokopasovno;modem;bluetooth;vpn;vlan;most;vez;DNS;
Keywords[sr]=мрежа;бежична;вај-фај;ип;лан;посредник;ван;широкопојасна;модем;блутут;впн;ДНС;
Keywords[sr@latin]=mreža;bežična;vaj-faj;ip;lan;posrednik;van;širokopojasna;modem;blutut;vpn;DNS;
Keywords[sv]=Nätverk;Trådlöst;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Bredband;Modem;Bluetooth;Blåtand;vpn;DNS;
Keywords[th]=เครือข่าย;ไร้สาย;Wi-Fi;Wifi;ไอพี;แลน;พร็อกซี;แวน;บรอดแบนด์;โมเด็ม;บลูทูท;vpn;DNS;
Keywords[tr]=Ağ;Wireless;Wi-Fi;Wifi;Kablosuz;IP;LAN;Yerel Ağ;Proxy;Vekil Sunucu;WAN;Broadband;Genişbant;Modem;Bluetooth;vpn;DNS;
Keywords[uk]=Мережа;Бездротова;Wi-Fi;Wifi;IP;LAN;Проксі;WAN;Широкосмуговий;Модем;Bluetooth;vpn;DNS;
Keywords[vi]=Network;mạng;mang;Wireless;không dây;khong day;Wi-Fi;Wifi;IP;LAN;Proxy;ủy nhiệm;uy nhiem;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
Keywords[zh_CN]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;网络;无线;无线保真;无线;互联网协议;局域网;代理;广域网;宽带;调制解调器;蓝牙;虚拟专用网;域名系统;
Keywords[zh_TW]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;網路;無線網路;區域網路;代理伺服器;寬頻;數據機;藍牙;
Keywords=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
