[Desktop Entry]
Name[be]=Thunderbolt
Name[ca]=Thunderbolt
Name[cs]=Thunderbolt
Name[da]=Thunderbolt
Name[de]=Thunderbolt
Name[el]=Thunderbolt
Name[en_GB]=Thunderbolt
Name[es]=Thunderbolt
Name[fi]=Thunderbolt
Name[fr]=Thunderbolt
Name[fur]=Thunderbolt
Name[gl]=Thunderbolt
Name[hr]=Thunderbolt
Name[hu]=Thunderbolt
Name[id]=Thunderbolt
Name[it]=Thunderbolt
Name[kk]=Thunderbolt
Name[ko]=썬더볼트
Name[lt]=Thunderbolt
Name[lv]=Thunderbolt
Name[nl]=Thunderbolt
Name[pl]=Thunderbolt
Name[pt_BR]=Thunderbolt
Name[ro]=Thunderbolt
Name[ru]=Thunderbolt
Name[sl]=Thunderbolt
Name[sv]=Thunderbolt
Name[tr]=Thunderbolt
Name[zh_TW]=Thunderbolt
Name=Thunderbolt
Comment[be]=Кіраваць прыладамі Thunderbolt
Comment[ca]=Administra dispositius Thunderbolt
Comment[cs]=Spravujte zařízení Thunderbolt
Comment[da]=Håndtér Thunderbolt-enheder
Comment[de]=Thunderbolt-Geräte verwalten
Comment[el]=Διαχείριση συσκευών Thunderbolt
Comment[en_GB]=Manage Thunderbolt devices
Comment[es]=Gestionar dispositivos Thunderbolt
Comment[fi]=Hallitse Thunderbolt-laitteita
Comment[fr]=Gérer les périphériques Thunderbolt
Comment[fur]=Gjestìs i dispositîfs Thunderbolt
Comment[gl]=Xestionar dispositivos Thunderbolt
Comment[hr]=Upravljaj Thunderbolt uređajima
Comment[hu]=Thunderbolt eszközök kezelése
Comment[id]=Kelola perangkat Thunderbolt
Comment[it]=Gestisce dispositivi Thunderbolt
Comment[kk]=Thunderbolt құрылғыларын басқару
Comment[ko]=썬더볼트 장치를 관리합니다
Comment[lt]=Tvarkyti Thunderbolt įrenginius
Comment[lv]=Pārvaldīt Thunderbolt ierīces
Comment[nl]=Thunderbolt-apparaten beheren
Comment[pl]=Zarządzanie urządzeniami Thunderbolt
Comment[pt_BR]=Gerencie dispositivos Thunderbolt
Comment[ro]=Administrează dispozitive Thunderbolt
Comment[ru]=Управление устройствами Thunderbolt
Comment[sl]=Upravljanje naprav Thunderbolt
Comment[sv]=Hantera Thunderbolt-enheter
Comment[tr]=Thunderbolt aygıtlarını yönet
Comment[zh_TW]=管理 Thunderbolt 裝置
Comment=Manage Thunderbolt devices
Exec=gnome-control-center thunderbolt
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[be]=thunderbolt
Icon[ca]=thunderbolt
Icon[cs]=thunderbolt
Icon[da]=thunderbolt
Icon[de]=thunderbolt
Icon[el]=thunderbolt
Icon[en_GB]=thunderbolt
Icon[es]=thunderbolt
Icon[fi]=thunderbolt
Icon[fr]=thunderbolt
Icon[fur]=thunderbolt
Icon[gl]=thunderbolt
Icon[hr]=thunderbolt
Icon[hu]=thunderbolt
Icon[id]=thunderbolt
Icon[it]=thunderbolt
Icon[kk]=thunderbolt
Icon[ko]=thunderbolt
Icon[lt]=thunderbolt
Icon[lv]=thunderbolt
Icon[nl]=thunderbolt
Icon[pl]=thunderbolt
Icon[pt_BR]=thunderbolt
Icon[ro]=thunderbolt
Icon[ru]=thunderbolt
Icon[sl]=thunderbolt
Icon[sv]=thunderbolt
Icon[tr]=thunderbolt
Icon[zh_TW]=thunderbolt
Icon=thunderbolt
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;HardwareSettings;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=thunderbolt
X-GNOME-Bugzilla-Version=3.30.1
# Translators: those are keywords for the thunderbolt control-center panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[be]=Thunderbolt;
Keywords[ca]=Thunderbolt;
Keywords[cs]=Thunderbolt;
Keywords[da]=Thunderbolt;
Keywords[de]=Thunderbolt;
Keywords[el]=Thunderbolt;
Keywords[en_GB]=Thunderbolt;
Keywords[es]=Thunderbolt;
Keywords[fi]=Thunderbolt;
Keywords[fr]=Thunderbolt;
Keywords[fur]=Thunderbolt;
Keywords[gl]=Thunderbolt;
Keywords[hr]=Thunderbolt;
Keywords[hu]=Thunderbolt;
Keywords[id]=Thunderbolt;
Keywords[it]=Thunderbolt;
Keywords[kk]=Thunderbolt;
Keywords[ko]=Thunderbolt;썬더볼트;선더볼트;
Keywords[lt]=Thunderbolt;
Keywords[lv]=Thunderbolt;
Keywords[nl]=Thunderbolt;
Keywords[pl]=Thunderbolt;
Keywords[pt_BR]=Thunderbolt;
Keywords[ro]=Thunderbolt;
Keywords[ru]=Thunderbolt;
Keywords[sl]=Thunderbolt;
Keywords[sv]=Thunderbolt;
Keywords[tr]=Thunderbolt;
Keywords[zh_TW]=Thunderbolt;
Keywords=Thunderbolt;
