[Desktop Entry]
Type=Application
Version=3.3.1
Name=JXplorer
Comment=Java LDAP client
Icon=/opt/jxplorer/images/logo_32_trans.gif
Exec=/opt/jxplorer/jxplorer.sh
Terminal=false
Path=/opt/jxplorer