[Desktop Entry]
Version=1.0
Name=Quartus II
Comment=Quartus II design software for Altera FPGA's
Exec=/opt/altera/18.0/quartus/bin/quartus --64bit
Icon=/opt/altera/18.0/quartus/adm/quartusii.png
Terminal=false
Type=Application
Categories=Development
