[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=x42-fat1
Comment=Auto-tuner based on Fons Adriaensen's zita-at1
Exec=x42-fat1
Icon=x42-fat1
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
