[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=x42-fil4
Comment=4 band parametric equalizer with additional low+high shelf filters, Low and High-pass
Exec=x42-fil4
Icon=x42-fil4
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
