[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=x42-scope
Comment=Simple audio oscilloscope with variable time scale, triggering, cursors and numeric readout
Exec=x42-scope
Icon=x42-scope
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
