[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=x42-stepseq
Comment=Simple step sequencer for moddevices.com
Exec=x42-stepseq
Icon=x42-stepseq
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
