[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=DIN Is Noise
Comment=DIN Is Noise.
Exec=din
Icon=din
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio
