[Desktop Entry]
Name[as]=ৰঙ
Name[bg]=Цвят
Name[bn_IN]=রঙ
Name[bs]=Boja
Name[ca]=Color
Name[ca@valencia]=Color
Name[cs]=Barva
Name[da]=Farve
Name[de]=Farbe
Name[el]=Χρώμα
Name[en_GB]=Colour
Name[eo]=Koloro
Name[es]=Color
Name[et]=Värvus
Name[eu]=Kolorea
Name[fa]=رنگ
Name[fi]=Väri
Name[fr]=Couleur
Name[fur]=Colôr
Name[gd]=Dath
Name[gl]=Cor
Name[gu]=રંગ
Name[he]=צבע
Name[hi]=रंग
Name[hr]=Boja
Name[hu]=Szín
Name[id]=Warna
Name[is]=Litur
Name[it]=Colore
Name[ja]=色
Name[kk]=Түс
Name[kn]=ಬಣ್ಣ
Name[ko]=색
Name[lt]=Spalva
Name[lv]=Krāsa
Name[ml]=നിറം
Name[mr]=रंग
Name[nb]=Farge
Name[ne]=रङ्ग
Name[nl]=Kleur
Name[oc]=Color
Name[or]=ରଙ୍ଗ
Name[pa]=ਰੰਗ
Name[pl]=Kolor
Name[pt]=Cor
Name[pt_BR]=Cor
Name[ro]=Culoare
Name[ru]=Управление цветом
Name[sk]=Farba
Name[sl]=Barva
Name[sr]=Боја
Name[sr@latin]=Boja
Name[sv]=Färg
Name[ta]=நிறம்
Name[te]=రంగు
Name[tg]=Ранг
Name[tr]=Renk
Name[ug]=رەڭ
Name[uk]=Колір
Name[vi]=Màu
Name[zh_CN]=色彩
Name[zh_HK]=顏色
Name[zh_TW]=顏色
Name=Color
Comment[as]=ৰঙৰ মানাংকন
Comment[bg]=Калибриране на цветове
Comment[bn_IN]=রঙ ক্রমাঙ্কন
Comment[bs]=Kalibracija boja
Comment[ca]=Calibratge del color
Comment[ca@valencia]=Calibratge del color
Comment[cs]=Kalibrace barev
Comment[da]=Farvekalibrering
Comment[de]=Farbkalibrierung
Comment[el]=Βαθμονόμηση χρωμάτων
Comment[en_GB]=Colour Calibration
Comment[eo]=Kolora kalibro
Comment[es]=Calibración del color
Comment[et]=Värvuskalibreerimine
Comment[eu]=Koloreen kalibrazioa
Comment[fa]=درجه‌بندی رنگ
Comment[fi]=Värikalibrointi
Comment[fr]=Étalonnage de la couleur
Comment[fur]=Calibradure colôr
Comment[gd]=Cailbhreachadh nan dathan
Comment[gl]=Calibración de cor
Comment[gu]=રંગ કેલિબ્રેશન
Comment[he]=כיול צבע
Comment[hi]=रंग कैलिब्रेशन
Comment[hr]=Kalibracija boja
Comment[hu]=Színkalibrálás
Comment[id]=Kalibrasi Warna
Comment[is]=Litkvörðun
Comment[it]=Calibrazione colore
Comment[ja]=カラーキャリブレーション
Comment[kk]=Түсті калибрациялау
Comment[kn]=ಬಣ್ಣದ ಕ್ಯಾಲಿಬ್ರೇಶನ್
Comment[ko]=색 보정
Comment[lt]=Spalvos kalibravimas
Comment[lv]=Krāsu kalibrēšana
Comment[ml]=കളര്‍ കാലിബ്രേഷന്‍
Comment[mr]=रंग कॅलिब्रेशन
Comment[nb]=Fargekalibrering
Comment[ne]=रङ्ग क्यालिब्रेसन
Comment[nl]=Kleurkalibratie
Comment[oc]=Escandalhatge de la color
Comment[or]=ରଙ୍ଗ ମାପ
Comment[pa]=ਰੰਗ ਕੈਲੀਬਰੇਸ਼ਨ
Comment[pl]=Kalibracja kolorów
Comment[pt]=Calibração de cor
Comment[pt_BR]=Calibração de cor
Comment[ro]=Calibrare de culoare
Comment[ru]=Цветовая калибровка устройств
Comment[sk]=Farebná kalibrácia
Comment[sl]=Barvno umerjanje
Comment[sr]=Калибрација боје
Comment[sr@latin]=Kalibracija boje
Comment[sv]=Färgkalibrering
Comment[ta]=நிற அளவை வகுத்தல்
Comment[te]=రంగు క్రమాంకనం
Comment[tg]=Андозагароии ранг
Comment[tr]=Renk Kalibrasyonu
Comment[ug]=رەڭ توغرىلاش
Comment[uk]=Калібрування кольорів
Comment[vi]=Cân chỉnh màu
Comment[zh_CN]=色彩校准
Comment[zh_HK]=色彩校準
Comment[zh_TW]=色彩校準
Comment=Color Calibration
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ca]=gnome-color-manager
Icon[ca@valencia]=gnome-color-manager
Icon[cs]=gnome-color-manager
Icon[da]=gnome-color-manager
Icon[de]=gnome-color-manager
Icon[el]=gnome-color-manager
Icon[en_GB]=gnome-color-manager
Icon[es]=gnome-color-manager
Icon[eu]=gnome-color-manager
Icon[fa]=gnome-color-manager
Icon[fi]=gnome-color-manager
Icon[fr]=gnome-color-manager
Icon[fur]=gnome-color-manager
Icon[gd]=gnome-color-manager
Icon[gl]=gnome-color-manager
Icon[hr]=gnome-color-manager
Icon[hu]=gnome-color-manager
Icon[id]=gnome-color-manager
Icon[is]=gnome-color-manager
Icon[it]=gnome-color-manager
Icon[kk]=gnome-color-manager
Icon[ko]=gnome-color-manager
Icon[lt]=gnome-color-manager
Icon[lv]=gnome-color-manager
Icon[nb]=gnome-color-manager
Icon[ne]=gnome-color-manager
Icon[nl]=gnome-color-manager
Icon[pl]=gnome-color-manager
Icon[pt]=gnome-color-manager
Icon[pt_BR]=gnome-color-manager
Icon[ro]=gnome-color-manager
Icon[ru]=gnome-color-manager
Icon[sk]=gnome-color-manager
Icon[sl]=gnome-color-manager
Icon[sr]=gnome-color-manager
Icon[sr@latin]=gnome-color-manager
Icon[sv]=gnome-color-manager
Icon[tr]=gnome-color-manager
Icon[uk]=gnome-color-manager
Icon[vi]=gnome-color-manager
Icon[zh_CN]=gnome-color-manager
Icon[zh_TW]=gnome-color-manager
Icon=gnome-color-manager
Exec=gcm-calibrate
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-color-manager
X-GNOME-Bugzilla-Component=gnome-color-manager
