[Desktop Entry]
Name[ar]=موصّل صور الأقراص
Name[as]=ডিস্ক ছবি মাউন্টাৰ
Name[be]=Памочнік мацавання вобразаў дыскаў
Name[bg]=Монтиране на файлове с образи
Name[bn_IN]=ডিস্ক ইমেজ মাউন্টার
Name[bs]=Priključivač odraza diska
Name[ca]=Muntador d'imatges de disc
Name[ca@valencia]=Muntador d'imatges de disc
Name[cs]=Připojování obrazů disků
Name[da]=Diskenhedsmonteringsprogram
Name[de]=Einhängen von Laufwerksabbildern
Name[el]=Προσάρτηση εικόνας δίσκων
Name[en_GB]=Disk Image Mounter
Name[eo]=Surmetilo de diska ekzaktakopio
Name[es]=Montador de imágenes de discos
Name[et]=Kettatõmmise haakija
Name[eu]=Disko-irudien muntatzailea
Name[fi]=Levykuvan liittäjä
Name[fr]=Monteur d’images disque
Name[fur]=Cjariadôr Imagjin Disc
Name[gd]=Munntaichear ìomhaighean diosga
Name[gl]=Montador de imaxes de disco
Name[gu]=ડિસ્ક ઇમેજ માઉન્ટર
Name[he]=מעגן דמויות כונן
Name[hi]=डिस्क छवि माउन्टर
Name[hr]=Montiratelj slike diska
Name[hu]=Lemezképcsatoló
Name[id]=Pengait Berkas Diska
Name[is]=Diskmyndatengir
Name[it]=Monta immagini disco
Name[ja]=ディスクイメージマウンター
Name[kk]=Диск бейнелерін тіркеуші
Name[km]=កម្មវិធី​ម៉ោន​រូបភាព​ថាស
Name[kn]=ಡಿಸ್ಕ್ ಚಿತ್ರಿಕೆಯನ್ನು ಏರಿಸುವ ಸಾಧನ
Name[ko]=디스크 이미지 마운트
Name[lt]=Disko atvaizdžio prijungėjas
Name[lv]=Disku attēlu montētājs
Name[ml]=ഡിസ്ക് ഇമേജ് മൌണ്ടര്‍
Name[mr]=डिस्क प्रतिमा माउंटकर्ता
Name[nb]=Montering av diskbilde
Name[nl]=Schijfkopiekoppelaar
Name[oc]=Montador d'imatges de disc
Name[or]=ଡିସ୍କ ପ୍ରତିଛବି ସ୍ଥାପକ
Name[pa]=ਡਿਸਕ ਈਮੇਜ਼ ਮਾਊਂਟਰ
Name[pl]=Montowanie obrazu dysku
Name[pt]=Montador de imagens de disco
Name[pt_BR]=Montador de imagem de disco
Name[ro]=Montator de imagini de disc
Name[ru]=Монтирование дискового образа
Name[sk]=Nástroj na pripojenie obrazu disku
Name[sl]=Priklopnik odtisov diskov
Name[sr]=Прикључивач одраза диска
Name[sr@latin]=Priključivač odraza diska
Name[sv]=Monterare för diskavbilder
Name[ta]=வட்டு பிம்ப ஏற்றி
Name[te]=డిస్కు ప్రతిరూపం మౌంట్‌చేయునది
Name[tg]=Васлгари тасвири диск
Name[th]=โปรแกรมเมานท์อิมเมจของดิสก์
Name[tr]=Disk Kalıbı Bağlayıcı
Name[ug]=دىسكا تەسۋىرىنى ئېگەرلىگۈچ
Name[uk]=Монтування образів диска
Name[vi]=Gắn ảnh đĩa
Name[zh_CN]=磁盘映像挂载器
Name[zh_HK]=磁碟映像檔掛載器
Name[zh_TW]=磁碟映像檔掛載器
Name=Disk Image Mounter
Comment[ar]=أوصل صور الأقراص
Comment[as]=ডিস্ক ছবিসমূহ মাউন্ট কৰক
Comment[be]=Мацаванне вобразаў дыскаў
Comment[bg]=Монтиране на файлове с образи
Comment[bn_IN]=ডিস্ক ছবিগুলি মাউন্ট করুন
Comment[bs]=Prikačite odraze diska
Comment[ca]=Munteu imatges de disc
Comment[ca@valencia]=Munteu imatges de disc
Comment[cs]=Připojit obraz disku
Comment[da]=Montér diskaftryk
Comment[de]=Laufwerksabbilder einhängen
Comment[el]=Προσαρτήστε εικόνες δίσκων
Comment[en_GB]=Mount Disk Images
Comment[eo]=Surmeti diskan ekzaktakopion
Comment[es]=Montar imágenes de discos
Comment[et]=Kettatõmmise haakimine
Comment[eu]=Muntatu disko-irudia
Comment[fi]=Liitä levykuvia
Comment[fr]=Monter les images disque
Comment[fur]=Monte Imagjins Discs
Comment[gd]=Munntaich ìomhaighean diosga
Comment[gl]=Montar imaxes de disco
Comment[gu]=ડિસ્ક ઇમેજને માઉન્ટ કરો
Comment[he]=עיגון דמויות כונן
Comment[hi]=डिस्क छवियों को माउंट करें
Comment[hr]=Montiraj sliku diska
Comment[hu]=Lemezképek csatolása
Comment[id]=Kaitkan Image Diska
Comment[is]=Tengja inn diskmyndir
Comment[it]=Monta immagini disco
Comment[ja]=ディスクイメージをマウントします
Comment[kk]=Диск бейнелерін тіркеу
Comment[km]=ម៉ោន​រូបភាព​ថាស
Comment[kn]=ಡಿಸ್ಕ್ ಚಿತ್ರಿಕೆಗಳನ್ನು ಏರಿಸು
Comment[ko]=디스크 이미지를 마운트합니다
Comment[lt]=Prijungti disko atvaizdį
Comment[lv]=Montē diska attēlus
Comment[ml]=ഡിസ്ക് ചിത്രങ്ങള്‍ മൌണ്ട് ചെയ്യുക
Comment[mr]=डिस्क प्रतिमा माउंट करा
Comment[nb]=Monter diskbilder
Comment[nl]=Schijfkopie aankoppelen
Comment[oc]=Montar los imatges de disc
Comment[or]=ଡିସ୍କ ପ୍ରତିଛବିଗୁଡ଼ିକୁ ସ୍ଥାପନ କରନ୍ତୁ
Comment[pa]=ਡਿਸਕ ਈਮੇਜ਼ ਮਾਊਂਟ ਕਰੋ
Comment[pl]=Montowanie obrazów dysków
Comment[pt]=Montar imagens de disco
Comment[pt_BR]=Monte imagens de disco
Comment[ro]=Montează imaginile de disc
Comment[ru]=Монтирует дисковые образы
Comment[sk]=Pripája obrazy diskov
Comment[sl]=Priklopi odtise diskov
Comment[sr]=Прикачите одразе диска
Comment[sr@latin]=Prikačite odraze diska
Comment[sv]=Montera diskavbilder
Comment[ta]=வட்டு பிம்பங்களை ஏற்று
Comment[te]=డిస్కు ప్రతిరూపాలను మౌంట్‌చేయి
Comment[tg]=Васл кардани тасвирҳои диск
Comment[th]=เมานท์อิมเมจของดิสก์
Comment[tr]=Disk Kalıplarını Bağla
Comment[ug]=دىسكا تەسۋىرلىرىنى ئېگەرلەش
Comment[vi]=Ứng dụng để gắn ảnh đĩa
Comment[zh_CN]=挂载磁盘映像
Comment[zh_HK]=掛載磁碟映像檔
Comment[zh_TW]=掛載磁碟映像檔
Comment=Mount Disk Images
Exec=gnome-disk-image-mounter %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon[ar]=drive-removable-media
Icon[be]=drive-removable-media
Icon[ca]=drive-removable-media
Icon[ca@valencia]=drive-removable-media
Icon[cs]=drive-removable-media
Icon[da]=drive-removable-media
Icon[de]=drive-removable-media
Icon[el]=drive-removable-media
Icon[en_GB]=drive-removable-media
Icon[es]=drive-removable-media
Icon[eu]=drive-removable-media
Icon[fi]=drive-removable-media
Icon[fr]=drive-removable-media
Icon[fur]=drive-removable-media
Icon[gd]=drive-removable-media
Icon[gl]=drive-removable-media
Icon[hr]=drive-removable-media
Icon[hu]=drive-removable-media
Icon[id]=drive-removable-media
Icon[is]=drive-removable-media
Icon[it]=drive-removable-media
Icon[kk]=drive-removable-media
Icon[ko]=drive-removable-media
Icon[lt]=drive-removable-media
Icon[lv]=drive-removable-media
Icon[nb]=drive-removable-media
Icon[nl]=drive-removable-media
Icon[pl]=drive-removable-media
Icon[pt]=drive-removable-media
Icon[pt_BR]=drive-removable-media
Icon[ro]=drive-removable-media
Icon[ru]=drive-removable-media
Icon[sk]=drive-removable-media
Icon[sl]=drive-removable-media
Icon[sr]=drive-removable-media
Icon[sr@latin]=drive-removable-media
Icon[sv]=drive-removable-media
Icon[tg]=drive-removable-media
Icon[tr]=drive-removable-media
Icon[vi]=drive-removable-media
Icon[zh_CN]=drive-removable-media
Icon[zh_TW]=drive-removable-media
Icon=drive-removable-media
MimeType=application/x-cd-image;application/x-raw-disk-image;
Terminal=false
StartupNotify=false
Type=Application
NoDisplay=true
