[Desktop Entry]
Name=LADI Log File Viewer
Name[it]=Visualizzatore di registri LADI
Type=Application
Comment=View or monitor LADI log files
Comment[it]=Visualizza o monitora i file di registro LADI
Terminal=false
Exec=ladi-system-log
Icon=ladi-system-log
Categories=GNOME;GTK;Settings;
GenericName=Log file viewer
GenericName[it]=Visualizzatore di file di registro
