[Desktop Entry]
Name=Non Sequencer
Comment=Realtime MIDI sequencer for JACK MIDI
Exec=/usr/bin/non-sequencer
Terminal=false
Type=Application
Icon=non-sequencer
Categories=AudioVideo;Audio;Midi;
