[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pure Data
Comment=The Pure Data real-time music and multimedia environment
Exec=pd
Icon=pd
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
