[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=zita-rev1
Comment=A reworked jack version of the reverb originally developed for Aeolus.
Exec=zita-rev1
Icon=zita-rev1
Terminal=false
StartupNotify=false
Categories=AudioVideo;Audio;
